[submodule "engine/libraries/SDL"]
	path = engine/libraries/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "engine/libraries/SDL_Image"]
	path = engine/libraries/SDL_Image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "engine/libraries/spdlog"]
	path = engine/libraries/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "engine/libraries/imgui"]
	path = engine/libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/libraries/stb"]
	path = engine/libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/libraries/box2d"]
	path = engine/libraries/box2d
	url = https://github.com/erincatto/box2d
